
@media screen and (min-width: 1904px) {
  #animation-banner {
    height: 60vh;
    margin-top: 80px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1904px) {
  #animation-banner {
    margin-top: 60px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 1264px) {
  #animation-banner {
    margin-top: 40px;
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 700px) {
  #animation-banner {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

#animation-banner {
  opacity: 1;
  height: 60vh;
  background-color: deeppink;
}

#hover-animation-banner {
  opacity: 1;
  height: 100%;
  width: 100%;
  transition: 1.5s;
  background-color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
}