#side-menu {
  width: 0;
  background-color: aqua;
  height: 100%;
  z-index: 2;
  position: fixed;
  transition: 0.4s;
  overflow-x: hidden;
  top: 0;
  left: 0;
}

.menu-button img {
  width: 2.5vw;
  height: auto;
}

.menu-button {
  display: block;
  border: none;
  background-color: transparent;
  margin: auto;
  line-height: 100vh;
}

#menu-side-icon {
  position: fixed;
  background-color: transparent;
  width:10vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}
