@media screen and (min-width: 1904px) {
  .toolbar-button img {
    width: 48px;
    height: 48px;
  }
}


@media screen and (max-width: 1904px) {
  .toolbar-button img {
    width: 32px;
    height: 32px;
  }
}


@media screen and (max-width: 1264px) {
  .toolbar-button img {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 700px) {
  .toolbar-button img {
    width: 24px;
    height: 24px;
  }
}

.sideMenu {
  background-color: aqua;
  position: fixed;
  height: 100%;
  z-index: 1;
  transition: 0.3s;
  overflow-x: hidden;
  top: 0;
  left: 0;
}

.toolbar-button {
  border: none;
  background-color: transparent;
  /* cursor: pointer; */
}

ul.toolbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* .container {
  
} */

.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col {
  grid-column: span 5;
}

#item1 {
  background-color: lime;
}
#item2 {
  background-color: red;
}
