@import "./css/grid.css";
@import "./css/footer.css";
@import "./css/sideMenu.css";
@import "./css/animationBanner.css";
@import "./css/contacts.css";

body {
  margin: 0;
  overflow-x: hidden;
}

.main {
  /* grid-area: m; */
  overflow-y: scroll;
}

#item1 {
  background-color: lime;
  height: 200px;
}
#item2 {
  background-color: red;
}
#item3 {
  background-color: blue;
}
#item4 {
  background-color: orange;
}